<div class="row">
  <div class="col-md-6">
    <h3>Monday, 30th January</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice" target="_blank" rel="noopener noreferrer">Automating Tasks with the Unix Shell</a> </td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/shell-novice" target="_blank" rel="noopener noreferrer">Automating Tasks with the Unix Shell (continued) </a></td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder" target="_blank" rel="noopener noreferrer">R for Reproducible Scientific Analysis</a> </td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder" target="_blank" rel="noopener noreferrer">R for Reproducible Scientific Analysis (continued)</a> </td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Tuesday, 31st January</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder" target="_blank" rel="noopener noreferrer">R for Reproducible Scientific Analysis (continued)</a> </td> </tr>
      <tr> <td>11:00</td>  <td>Morning break</td> </tr>
      <tr> <td>11:30</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder" target="_blank" rel="noopener noreferrer">R for Reproducible Scientific Analysis (continued)</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>14:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder" target="_blank" rel="noopener noreferrer">Version Control with Git</a> </td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td><a href="http://swcarpentry.github.io/r-novice-gapminder" target="_blank" rel="noopener noreferrer">Version Control with Git (continued)</a> </td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
